@using Data.Entities
@model List<Movie>

<h1>Products List</h1>
<p>You can manage the products here.</p>

<a asp-controller="Films"></a><a asp-action="Create" class="btn btn-primary mb-3">
    <i class="bi bi-plus-lg"></i>
    Add New Product
</a>

<table class="table">
    <thead>
        <tr class="table-dark">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Length</th>
            <th scope="col">Rating</th>
            <th scope="col">Adult rating</th>
            <th scope="col">Genre</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr class="align-middle">
                <td>
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-info-square-fill"></i>
                    </button>
                    <a class="btn btn-outline-warning" asp-controller="Films" asp-action="Edit" asp-route-id="@i.Id">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <a class="btn btn-outline-danger" asp-controller="Films" asp-action="Create" asp-route-id="@i.Id">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>